@import url('https://fonts.googleapis.com/css?family=Bevan');
body {
    background: url("./bilder/bg.jpg");
    background-size: cover;
}
.kontainer {
    background: rgb(231, 231, 231);
    padding: 50px;
    width: 500px;
    margin: 100px auto;
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
    font-family: sans-serif;
}
header {
    font-family: 'Bevan', cursive;
}
form {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
label {
    align-self: center;
}
input, select {
    padding: 10px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}