/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background: #A5A5A5;
    font-family: sans-serif;
}
.kontainer {
    width: 500px;
    background:#EBF4FB;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;    
}
input, textarea, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ACD8F0;
    border-radius: 3px;
}
textarea {
    height: 300px;
    margin: 10px 0;
}
button {
    cursor: pointer;
}